/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  font: 400 14px Roboto, sans-serif;
  background: #F0F0F5;
  -webkit-font-smothing: antialised;
}

input, button, textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #DCDCE6;
  border-radius: 8px;
  padding: 0 24px;
}
