.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logon-container__form {
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}

.logon-container__form__item{
  margin-top: 100px;
}

.logon-container__form__item__title {
  font-size: 32px;
  margin-bottom: 32px;
}

.logon-container__form__item__button {
  width: 100%;
  height: 60px;
  background: #E02041;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter .2s;
}

.logon-container__form__item__button:hover {
  filter: brightness(90%);
}

.logon-container__form__item__link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414D;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opactity .2s;
}

.logon-container__form__item__link:hover {
  opacity: .8;
}

.logon-container__form__item__link svg {
  margin-right: 8px;
}
