.register-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container__group {
  width: 100%;
  padding: 96px;
  background: #F0F0F5;
  box-shadow: 0 0 100px rgba(0, 0, 0, .1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register-container__group__content {
  width: 100%;
  max-width: 380px;
}

.register-container__group__content__title {
  margin: 64px 0 32px;
  font-size: 32px;
}

.register-container__group__content__description {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.register-container__group__form {
  width: 100%;
  max-width: 450px;
}

.register-container__group__form input {
  margin-top: 8px;
}

.register-container__group__form__group {
  display: flex;
}

.register-container__group__form__group  input + input {
  margin-left: 8px;
}

.register-container__group__content__link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414D;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opactity .2s;
}

.register-container__group__content__link:hover {
  opacity: .8;
}

.register-container__group__content__link svg {
  margin-right: 8px;
}

.register-container__group__form__button {
  width: 100%;
  height: 60px;
  background: #E02041;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter .2s;
}

.register-container__group__form__button:hover {
  filter: brightness(90%);
}

